@import "./config.scss";

html {
  overflow-y: scroll;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $bg-primary;
  color: $font-primary;
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 12px;
  }
}
