@use "../../sass/abstracts";

.item-details {
  @include abstracts.flex(column, flex-start, center, nowrap);
  gap: 4rem;
  margin: 0 20rem;
  @media screen and (max-width: 1100px) {
    margin: 0 2rem;
  }

  &__summary {
    @include abstracts.flex(column, flex-start, center, nowrap);
    padding: 1rem;
  }

  &__title {
    text-align: center;
    font-size: 2.4rem;
  }

  &__btn {
    width: 100%;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-style: oblique;
    opacity: 0.8;
    transition: opacity 150ms;
    &:hover {
      opacity: 1;
    }
  }

  &__btn-save {
    color: abstracts.$bg-primary;
    background-color: abstracts.$bg-tertiary;
  }

  &__btn-remove {
    background-color: rgb(187, 6, 6);
  }
}
