@import "../sass/config.scss";

.poster {
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 300ms;
  justify-self: flex-start;

  &:hover {
    transform: scale(1);
  }
}

.title {
  font-size: 1.2rem;
  border-bottom: 1px solid $font-primary;
}
