@import "../sass/config.scss";

.movie {
  @include flex(column, center, center, nowrap);
  width: 18rem;
  position: relative;

  &__poster {
    cursor: pointer;
    transform: scale(0.9);
    transition: transform 300ms;
  }

  &__control {
    @include flex(row, center, center, nowrap);
    gap: 1rem;
    width: 100%;
    margin-top: 0.4rem;
    font-size: 1.2rem;
    transition: opacity 300ms;
    opacity: 0;

    &--favorite {
    }
  }

  &:hover &__poster {
    transform: scale(1);
  }

  &:hover &__control {
    opacity: 1;
  }
}
